<?xml version="1.0"?>
<launch>
  <rosparam file="$(find ant_colony)/config/param.yaml"/>
  <rosparam> GraphType: Incomplete </rosparam>
  <node
      pkg="ant_colony"
      type="ant_system"
      name="colony"
      required="true"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Brynda"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Cora"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Enya"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Fiamma"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Hespera"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Inola"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Kierra"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Leyla"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Mia"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Vesta"
      />
</launch>
