<?xml version="1.0"?>
<launch>
  <rosparam file="$(find ant_colony)/config/param.yaml"/>
  <rosparam> GraphType: Complete </rosparam>
  <node
      pkg="ant_colony"
      type="ant_system"
      name="colony"
      required="true"
      />
  <node
      pkg="ant_colony"
      type="traveler_ant"
      name="Princess"
      required="true"
      output="screen"
      />
</launch>
